[Unit]
Description=Warewulf node runtime overlay update
Documentation=https://warewulf.org/
Wants=network.target
After=network.target
After=local-fs.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/wwclient
ExecStart=/warewulf/wwclient
ExecReload=/bin/kill -s SIGHUP "$MAINPID"
TimeoutStartSec=infinity
TimeoutStopSec=30
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
