[Unit]
Description=Ignition warewulf (mount)
Documentation=https://hpcng.github.io/warewulf
ConditionPathExists=/warewulf/ignition.json
ConditionPathExists=/usr/lib/dracut/modules.d/30ignition/ignition
DefaultDependencies=false
Before=ignition-complete.target

After=ignition-ww4-disks.service


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/dracut/modules.d/30ignition/ignition --platform=metal --stage=mount --config-cache /warewulf/ignition.json
ExecStop=/usr/lib/dracut/modules.d/30ignition/ignition --platform=metal --stage=umount --config-cache /warewulf/ignition.json
