[Unit]
Description=Warewulf node runtime overlay update
After=network.target
After=local-fs.target

[Service]
Type=notify
ExecStart=/warewulf/wwclient
ExecReload=/bin/kill -s SIGHUP "$MAINPID"
PIDFile=/var/run/wwclient.pid
TimeoutSec=60
 
[Install]
WantedBy=multi-user.target
