# project data
/.idea
/.tools
/.vscode
/vendor

# binaries
/warewulfd
/wwbuild
/wwclient
/wwctl
/bash_completion
/config_defaults
/update_configuration
/wwapic
/wwapid
/wwapird
/print_defaults

# other created files
/docs/man/man1/*.1.gz
/docs/man/man5/*.5.gz
/bash_completion.d
/etc/bash_completion.d/
warewulf.spec
internal/pkg/buildconfig/setconfigs.go
internal/pkg/config/buildconfig.go
include/systemd/warewulfd.service
_dist/
/config
warewulf-*.tar.gz
Defaults.mk
/etc/wwapid.config
/etc/wwapic.config
/etc/wwapird.config
/etc/wwapid.conf
/etc/wwapic.conf
/etc/wwapird.conf
.dist/
userdocs/_*
userdocs/reference/*
