# project data
/.idea
/.tools
/vendor

# binaries
/warewulfd
/wwbuild
/wwclient
/wwctl
/bash_completion
/man_page

# other created files
/man_pages
/bash_completion.d
/usr/share/man/man1/
/etc/bash_completion.d/
warewulf.spec
internal/pkg/buildconfig/buildconfig.go
include/systemd/warewulfd.service
_dist/
config
warewulf-*.tar.gz
