[Unit]
Description=Warewulf cluster management daemon
Documentation=https://warewulf.hpcng.org/
After=network-online.target
AssertFileIsExecutable=/usr/bin/wwctl

[Service]
Type=forking
User=root
Group=root

ExecStart=/usr/bin/wwctl server start
PIDFile=/var/run/warewulfd.pid
Restart=always

[Install]
WantedBy=multi-user.target
