---
name: tagged-release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  dist:
    name: Checkout code and build warewulf.spec and dist
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build spec and dist
        run: |
          make warewulf.spec dist

      - name: Upload spec and dist
        uses: actions/upload-artifact@v4
        with:
          name: spec-and-dist
          path: |
            warewulf.spec
            warewulf-*.tar.gz

      - name: Attach dist to release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          delete_file: "warewulf-*.tar.gz;warewulf-*.rpm"
          file: warewulf-*.tar.gz
          tags: true

  rpm:
    name: Build RPMs
    needs: dist
    runs-on: ubuntu-latest
    container:
      image: rockylinux/rockylinux:9
      options: --privileged
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: rocky+epel-8-x86_64
            arch: x86_64
            dist: el8
          - target: rocky+epel-9-x86_64
            arch: x86_64
            dist: el9
          - target: opensuse-leap-15.5-x86_64
            arch: x86_64
            dist: suse.lp155

    steps:
      - name: Prepare mock and rpm-build
        run: |
          dnf -y install epel-release
          dnf -y install mock rpm-build
          echo "config_opts['print_main_output'] = True" >>/etc/mock/site-defaults.cfg

      - name: Download dist and spec
        uses: actions/download-artifact@v4
        with:
          name: spec-and-dist

      - name: Build RPMs and run tests
        run: |
          mock -r ${{ matrix.target }} --rebuild --spec=warewulf.spec --sources=. \
          && mock -r ${{ matrix.target }} --chroot -- bash -c "make -C /builddir/build/BUILD/warewulf-*/ test"

      - name: Attach RPM and SRPM to release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "/var/lib/mock/${{ matrix.target }}/result/warewulf-*.rpm"
          tags: true
